In [16]:
# Import dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [17]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nemuro,JP,2022-07-29 21:42:56,43.3236,145.5750,66.11,94,99,8.84
1,1,Cayenne,GF,2022-07-29 21:42:25,4.9333,-52.3333,82.09,1,75,1.14
2,2,Georgetown,MY,2022-07-29 21:38:05,5.4112,100.3354,82.33,95,20,5.75
3,3,Hobart,AU,2022-07-29 21:40:20,-42.8794,147.3294,40.05,83,20,5.75
4,4,Ewa Beach,US,2022-07-29 21:42:56,21.3156,-158.0072,85.37,54,40,6.91

In [18]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [19]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [28]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps =[]
for temp in max_temp:
    temps.append(max(temp,0))

In [29]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable (didn't actually work so combined variable with adding heatmap layer).
# Add the heatmap layer.
fig.add_layer(gmaps.heatmap_layer(locations, weights=[max(temp,0)for temp in max_temp], dissipating=False,
                                 max_intensity=300, point_radius=4))

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent humidity. 
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the percent humidity.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                 max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of percent cloudiness. 
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the percent cloudiness.
cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False,
                                 max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of wind speed. 
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the wind speed.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False,
                                 max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [36]:
# Filter the dataset to find the cities that fit the customer's criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<= max_temp)& \
                                      (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Cayenne,GF,2022-07-29 21:42:25,4.9333,-52.3333,82.09,1,75,1.14
2,2,Georgetown,MY,2022-07-29 21:38:05,5.4112,100.3354,82.33,95,20,5.75
4,4,Ewa Beach,US,2022-07-29 21:42:56,21.3156,-158.0072,85.37,54,40,6.91
7,7,Albany,US,2022-07-29 21:42:58,42.6001,-73.9662,86.58,45,0,1.01
8,8,Chenghai,CN,2022-07-29 21:42:58,23.4632,116.7680,75.11,94,0,0.00
17,17,Valdez,EC,2022-07-29 21:43:01,1.2492,-78.9831,79.30,82,75,13.11
25,25,Northview,US,2022-07-29 21:43:05,43.0456,-85.6006,78.08,53,75,17.27
28,28,Butaritari,KI,2022-07-29 21:43:06,3.0707,172.7902,82.11,74,3,14.32
31,31,Panacan,PH,2022-07-29 21:43:08,9.2463,118.4082,80.20,84,100,6.46
33,33,Jamestown,US,2022-07-29 21:40:57,42.0970,-79.2353,76.95,40,0,11.50

In [42]:
preferred_cities_df.count()

City_ID       201
City          201
Country       201
Date          201
Lat           201
Lng           201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
dtype: int64

In [43]:
# Create DataFrame to store hotel names along with city, country, max temp and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

         City Country  Max Temp      Lat       Lng Hotel Name
1     Cayenne      GF     82.09   4.9333  -52.3333
2  Georgetown      MY     82.33   5.4112  100.3354
4   Ewa Beach      US     85.37  21.3156 -158.0072
7      Albany      US     86.58  42.6001  -73.9662
8    Chenghai      CN     75.11  23.4632  116.7680

In [47]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging", 
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to the location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name. 
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [48]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Cayenne,GF,82.09,4.9333,-52.3333,Hôtel Le Dronmi
2,Georgetown,MY,82.33,5.4112,100.3354,Cititel Penang
4,Ewa Beach,US,85.37,21.3156,-158.0072,Base Lodging
7,Albany,US,86.58,42.6001,-73.9662,
8,Chenghai,CN,75.11,23.4632,116.7680,Guangdong Hotel
17,Valdez,EC,79.30,1.2492,-78.9831,Casa Alquiler Doña Yenner y Don Wacho
25,Northview,US,78.08,43.0456,-85.6006,Comfort Suites Grand Rapids North
28,Butaritari,KI,82.11,3.0707,172.7902,Isles Sunset Lodge
31,Panacan,PH,80.20,9.2463,118.4082,Mom's Place Resort
33,Jamestown,US,76.95,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [49]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# Set up the info box template for the pop-up marker.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row)for index, row in hotel_df.iterrows()]

In [57]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))